.theme_2 body {
  background-color: #333333;
  color: white;
}

.theme_2 header {
  background-color: #171717;
  color: white;
}

.theme_2 nav {
  background-color: #8a56a8;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.theme_2 #themeToggle {
    background-color: #8a56a8; 
    color: white; 
}

.theme_2 #themeToggle:hover {
    background-color: #bfbfbf; 
    color: black;
}

.theme_2 #resetButton {
    background-color: #8a56a8; 
    color: white; 
}

.theme_2 #resetButton:hover {
    background-color: #bfbfbf; 
    color: black;
}

.theme_2 nav a {
  color: white;
}

.theme_2 nav a:hover {
  background-color: #bfbfbf;
  color: black;
  border-radius: 5px;
}

.theme_2 main {
  background-color: #333333;
  color: white;
}

.theme_2 footer {
  background-color: #171717;
  color: white;
}

.theme_2 .section {
  background-color: #1f1f1f;
  color: white;
}

.theme_2 .section h2 {
  color: #8a56a8;
}

.theme_2 .section img {
  border-radius: 4px;
}

.theme_2 button {
    background-color: #8a56a8; 
    color: white; 
}

.theme_2 button:hover {
    background-color: #bfbfbf; 
    color: black;
}

.theme_2 th {
  border: 1px solid #8a56a8;
}

.theme_2 tr:nth-child(even) {
  background-color: #333333;
}

.theme_2 td {
  border: 1px solid #8a56a8;
}

.theme_2 tbody tr:hover {
  background-color: #8a56a8;
}

.theme_2 th {
  background-color: #311e30;
}