/* CSS modifié */
body {
  font-family: "Nouvelle-Police", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4BF96;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, nav, main, footer {
  padding: 20px;
}

header {
  background-color: #1F1717;
  color: white;
  text-align: center;
}

nav {
  background-color: #CE5A67;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #FCF5ED;
  color: black;
  border-radius: 5px;
}

main {
  padding-top: 20px;
  flex: 1;
}

footer {
  background-color: #1F1717;
  color: white;
  text-align: left;
  width: 100%;
  padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ajout d'une position relative */
}

#themeToggle {
    position: absolute;
    left: 0; /* Positionner le bouton tout à gauche */
    padding: 10px 20px; 
    background-color: #CE5A67; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

#themeToggle:hover {
    background-color: #FCF5ED; 
    color: black;
}

#resetButton {
    padding: 10px 20px; 
    background-color: #CE5A67; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

resetButton:hover {
    background-color: #FCF5ED; 
    color: black;
}

button {
    padding: 10px 20px; 
    background-color: #CE5A67; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

#button:hover {
    background-color: #FCF5ED; 
    color: black;
}

header img {
    width: 300px;
    height: auto; 
    margin: 0 auto; /* Centrer horizontalement l'image */
}

.section {
  background-color: #FCF5ED;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chartContainer {
  width: 80%; 
  max-width: 1000px; 
  height: 500px; 
  margin: 0 auto; 
}

.section h2 {
  color: #5d9387;
}

.section p,
.section ul,
.section ol,
.section table {
  margin-top: 0;
}

.section img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  nav {
    flex-direction: row;
  }
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30%; 
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #4CAF50;
}

th {
  background-color: #CE5A67;
  color: white; 
  padding: 10px;
  text-align: left;
}

th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #F4BF96;
}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid #8d6f41;
}

tbody tr:hover {
  background-color: #dadada;
}