{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<main>
    <div id="section2" class="section">
        <h2>À Propos</h2>
        <div>
            <p>Pourquoi ce site ?</p>
            <ul>
                <li>Ce site a été créé pour un projet en NSI au lycée Langevin par un trio de terminales. Il sert à tester ses compétences et en apprendre d'autres.</li>
            </ul>
        </div>
        <div>
            <p>En quoi consiste ce site ?</p>
            <ul>
                <li>Ce site consiste à comparer trois types d'algorithmes de tri. On compare leurs vitesse du début à la fin de lancement à travers différentes grandeurs de listes. Les performances sont alors rangées dans notre base de données et affichées en graphique si demandé sur notre interface.</li>
            </ul>
        </div>
        <div>
            <p>Quels sont ces algorithmes de tri ?</p>
            <ul>
                <li>Tri par Insertion : Le tri par insertion consiste à parcourir un tableau un élément à la fois, en insérant chaque élément dans sa position correcte parmi les éléments déjà triés. À chaque itération, l'algorithme compare l'élément courant avec ceux de la séquence triée, les déplace vers la droite si nécessaire, puis insère l'élément à sa place correcte. Ce processus se répète jusqu'à ce que tous les éléments soient triés. Bien que simple, le tri par insertion peut être inefficace pour de grandes quantités de données en raison de sa complexité quadratique.</li>
                <a href="https://fr.wikipedia.org/wiki/Tri_par_insertion">Pour plus d'information sur le tri par insertion</a>
                <br>
                <br>
                <li>Tri par Sélection : Le tri par sélection divise une liste en deux parties : triée et non triée. À chaque itération, il sélectionne le plus petit élément de la partie non triée et l'échange avec le premier élément non trié. Ce processus se répète jusqu'à ce que la liste entière soit triée. Bien que simple, son inconvénient est sa complexité quadratique, ce qui le rend moins efficace pour des ensembles de données volumineux.</li>
                <a href="https://fr.wikipedia.org/wiki/Tri_par_s%C3%A9lection">Pour plus d'information sur le tri par sélection</a>
                <br>
                <br>
                <li>Tri par Sorted : Le tri sorted() de Python est une fonction intégrée qui retourne une nouvelle liste triée à partir des éléments d'une séquence (comme une liste, un tuple, ou une chaîne de caractères). Cette fonction utilise l'algorithme Timsort, une combinaison du tri par insertion et du tri fusion, optimisé pour exploiter les caractéristiques des données réelles. Timsort est stable, ce qui signifie que l'ordre relatif des éléments égaux est préservé. La fonction sorted() peut également accepter une fonction de comparaison personnalisée en utilisant le paramètre key. En résumé, sorted() est une méthode flexible et performante pour trier des données en Python, offrant une facilité d'utilisation et une efficacité élevée grâce à son algorithme sous-jacent.</li>
                <a href="https://www.tresfacile.net/la-fonction-sorted-python/">Pour plus d'information sur le tri par sorted</a>
                <br>
                <br>
                <li>Tri par bulle : Le tri à bulle parcourt le tableau et compare les éléments consécutifs. Lorsque deux éléments consécutifs ne sont pas dans l'ordre, ils sont permutés.Après un premier parcours complet du tableau, le plus grand élément est forcément en fin de tableau, à sa position définitive. En effet, aussitôt que le plus grand élément est rencontré durant le parcours, il est mal trié par rapport à tous les éléments suivants, donc permuté avec le suivant jusqu'à arriver à la fin du parcours. Après le premier parcours, le plus grand élément étant à sa position définitive, il n'a plus à être traité. Le reste du tableau est en revanche encore en désordre. Il faut donc le parcourir à nouveau, en s'arrêtant à l'avant-dernier élément. Après ce deuxième parcours, les deux plus grands éléments sont à leur position définitive. Il faut donc répéter les parcours du tableau, jusqu'à ce que les deux plus petits éléments soient placés à leur position définitive</li>
                <a href="https://fr.wikipedia.org/wiki/Tri_à_bulles#Principe_et_pseudo-code">Pour plus d'information sur le tri par bulle</a>
                <br>
                <br>
                <li>Tri par fusion : Le tri fusion En informatique, le tri fusion, ou tri dichotomique, est un algorithme de tri par comparaison stable. Sa complexité temporelle pour une entrée de taille n est de l'ordre de n log n, ce qui est asymptotiquement optimal. Ce tri est basé sur la technique algorithmique diviser pour régner. L'opération principale de l'algorithme est la fusion, qui consiste à réunir deux listes triées en une seule. L'efficacité de l'algorithme vient du fait que deux listes triées peuvent être fusionnées en temps linéaire.</li>
                <a href="https://fr.wikipedia.org/wiki/Tri_fusion">Pour plus d'information sur le tri par fusion</a>

            </ul>
        </div>
    </div>
</main>
{% endblock %}
