<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/theme_base.css') }}" id="theme">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/theme_2.css') }}" id="theme_2">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        var themeToggleUrl = "{{ url_for('static', filename='CSS/') }}";
    </script>
    <script src="{{ url_for('static', filename='js/theme_toggle.js') }}" defer></script>
</head>
<body>

<header>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
		<button id="themeToggle">Changer le Thème</button>
    </div>
</header>

<nav>
    <div class="container">
        <a href="{{ url_for('index') }}">Accueil</a>
        <a href="{{ url_for('page2') }}">Tests</a>
        <a href="{{ url_for('page3') }}">Tables</a>
        <a href="{{ url_for('page4') }}">À propos</a>
        <a href="{{ url_for('page5') }}">Contact</a>
    </div>
</nav>

{% block content %}{% endblock %}

<footer>
    <div class="container">
        <p>site créé par :</p>
        <p>Naomi Octave-Emile</p>
        <p>Naël Gamba</p>
        <p>Mathis Provent</p>
    </div>
</footer>

</body>
</html>
