{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<main>
    <div id="section3" class="section">
        <h2>Contact</h2>
        <p>Pour plus d'informations, veuillez nous contacter via nos différents moyens de communication :</p>
        <div class="table-container">
            <table>
                <tr>
                    <th>Méthode de Contact</th>
                    <th>Détails</th>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>datadash.nsi@gmail.com</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>+33 06 56 69 25 94</td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>13 Bd de la Farandole 13920 Saint-Mitre-les-Remparts</td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}
