{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<main>
    <div id="home" class="section">
        <h2>Accueil</h2>
        <p>Un tout nouveau testeur de performances pour différents types de tri numérique ! Puisque le fait de trier des nombres est devenu l'une des activités les plus appréciées par l'humain, savoir lequel est le plus rapide est une nécessité, un besoin ! C'est pourquoi, grâce à ce nouveau comparateur, vous allez pouvoir tester en temps réel leur efficacité."</p>
        <p>N'oubliez pas de donner un nom à vos tests pour ne pas les perdre parmi tous les autres, afin qu'ils soient uniques.</P>
        <P>Une fois sur le comparateur, vous aurez accès à un graphique. N'hésitez pas à le sauvegarder pour le partager avec vos amis et montrer votre supériorité.</p>
        <p>Pour plus de précision, veuillez ajouter plus de 500 éléments.</p>
        <p>Maintenant, à vous de jouer, si vous l'osez.</p>       
        <li><a href="{{ url_for('page2') }}">Accéder au comparateurs</a></li>
    </div>
</main>
{% endblock %}
