{% extends 'base.html' %}

{% block title %}Données Sauvegardées{% endblock %}

{% block content %}
<head>
    <script src="{{ url_for('static', filename='js/delete_table.js') }}" defer></script>
</head>
<main>

	<div id="home" class="section">
        <h2>Bienvenue aux tables !</h2>
        <p>Si vous avez besoin de retrouver les informations d'un tri antérieur, voici les résultats de la base de données qui vous permettront de visualiser et de réinitialiser les tables de données.</p> 
		</p></p>   		
		<p>comment ça marche ? </p>
		</p>trouve le nom de l'algorythme que tu veux et soit absolument absorbé par toutes les informations que nos tables ont à te donner. tout ton bonheur y est !</p>   
    </div>
  <!-- Bouton pour réinitialiser toutes les tables -->
  <div class="reset-button">
    <button id="resetButton">Réinitialiser les tables</button>
  </div>

  <!-- Affichage des tables individuelles -->
  {% for table_name, rows in tables_data.items() %}
  <div id="{{ table_name }}" class="section">
    <h2>{{ table_name }}</h2>
    <table>
        <thead>
            <tr>
                <th>Nom du Test</th>
                <th>Temps Total</th>
                <th>Nombre d'Éléments</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[4] }} seconds</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  {% endfor %}
</main>
{% endblock %}
