{% extends 'base.html' %}

{% block title %}Tests{% endblock %}

{% block content %}
<head>
	<script src="{{ url_for('static', filename='js/graph.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/theme_toggle.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="{{ url_for('static', filename='js/theme_toggle.js') }}" defer></script>
    <script>
		var dataSets = {{ data_sets|tojson|safe }};
	</script>
</head>

<main>
    <div id="section1" class="section">
        <h2>Tests</h2>
        <p>Pour commencer :</p>
        <br>
        <p>1 - Choisir le ou les algorithmes de tri que vous voulez tester.</p>
        <p>2 - Donner un nom au test pour plus facilement le repérer dans la liste des tests</p>
        <p>3 - Appuyer sur "lancer le test" et attendre que le tab de la page arrête de tourner. ⚠ ne pas changer de page, appuyer une autre fois sur le bouton, ou recharger la page pendant que le petit icon tourne. ⚠</p>
        <p>4 - Analyser vos tests dans la liste en dessous et dans le graphique en dessous.</p>
    </div>

    <div id="section2" class="section">
        <h2>Listes des Tests</h2>
        <form action="{{ url_for('page2') }}" method="post">
            <input type="text" id="triName" name="triName" placeholder="Entrez le nom de votre tri">
            <input type="number" id="nombreChiffres" name="nombreChiffres" min="1" placeholder="Entrez le nombre d'éléments à trier">
            <br>
            <button type="submit">Lancer</button>
        </form>
    </div>

    <div id="section4" class="section">
        <h2>Graphique</h2>
        <div id="chartContainer" style="width: 800px; height: 450px;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</main>
{% endblock %}
